# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html

server_name: "matrix.openami.local"
pid_file: /data/homeserver.pid

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false

database:
  name: psycopg2
  txn_limit: 10000
  args:
    user: synapse
    password: "synapse_secure_password_CHANGE_ME_IN_PRODUCTION"
    database: synapse
    host: matrix-postgres
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: "/data/matrix.openami.local.log.config"
media_store_path: /data/media_store

registration_shared_secret: "los-#fN7PGV4OXA*QicF3:7.uZQ;8MnTrC5mYly;Gx42AuWO,r"
report_stats: false

macaroon_secret_key: "l#2WtDtgju^lL:L1vx~7MDO_@n+B7vNScR#@qAT6ys:PsHkspi"
form_secret: ".leywe*3pv7X8b.WjGUWDjJ3SKFlf@N*YwmkqV;f8;2K+6^PKU"

signing_key_path: "/data/matrix.openami_local.signing.key"

trusted_key_servers:
  - server_name: "matrix.org"

# vim:ft=yaml